.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 2vw;
}

* {
  text-align: center;
}

h1 {
  margin-top: 1vw;
}

.fileName {
  margin-top: 3vw;
  margin-bottom: -3vw;
}

table {
  margin-top: 5vw;
  border: 0.25vw solid;
  border-radius: 0.125vw;
}

table * {
  text-align: center;
}

th {
  background-color: rgb(22, 0, 43);
  padding: 0 1vw;
  border: 0.25vw solid;
}

td {
  border: 0.25vw solid;
  padding: 0;
}

tr:nth-child(odd) {
  background-color: black;
}

tr:nth-child(even) {
  background-color: rgb(22, 0, 43);
}

.summary {
  margin-top: 2vw;
}

.fileInput {
  display: none;
}

.fileLabel {
  background-color: black;
  color: rgb(132, 0, 255);
  border-color: rgb(132, 0, 255);
  border: 0.25vw solid;
  cursor: pointer;
  margin-top: 2vw;
  margin-bottom: -1.5vw;
  padding: 0 1vw;
  border-radius: 0.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileLabel:hover {
  color: black;
  background-color: rgb(132, 0, 255);
  border-color: rgb(132, 0, 255);
}